.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0rem 4rem;
  font-size: 2.4rem;
  font-weight: 500;
  align-items: center;
  flex-wrap: wrap;
}

.container p {
  font-size: 2.4rem;
  padding: 0.4rem 1rem;
  border-radius: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.container p:hover {
  background-color: salmon;
  color: whitesmoke;
}

.selected {
  background-color: salmon;
  color: whitesmoke;
}

/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

/* 900px */
@media (max-width: 56.25em) {
  .container p {
    font-size: 2rem;
    padding: 0.4rem 1rem;
  }
  .container span {
    display: none;
  }
}

/* 500px */
@media (max-width: 31.25em) {
  .container {
    padding: 0rem 2rem;
  }
}
