.container {
  background-color: salmon;
  color: whitesmoke;
}

.container p {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
}

/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

/* 700px */
@media (max-width: 43.75em) {
  .container p {
    font-size: 1.6rem;
  }
}

/* 500px */
@media (max-width: 31.25em) {
  .container p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
